/* This where the magic happens..let's get fancy*/

/* The @import rule allows you to import a style sheet into another style sheet */
/* Fonts - GoogleFont */
/* @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@700&display=swap');


/* Body */
body{ 
  /* background-color:rgb(235, 235, 235); */
  margin:0;
  padding:0;
  height:100vh;
  font-family: 'Andada Pro', serif;
} 

/* Navigation */
.navbar{
  position: absolute;
  left: 0;
  font-weight: 400;
  width: 100%;
  top: 0; 
}

.nav-item,.nav-link {
  color: #495057;
  font-size: 1.2rem;
  position: relative;
  list-style-type: none; 
}

.navbar-brand{
  font-size: 1.9rem;
  color: #495057;
  font-weight: 700; 
}

/* Section:Reveal  */

.section-heading{
  margin-top:350px;
  margin-bottom:300px;
  text-align: center;
}

h1{
  font-size: 5.5em;
  color:white;
  position:relative;
  display:inline-block; 
  animation: text-reveal 1.5s ease forwards;
  animation-delay: 1.7s;
} 
.quote {
  font-size: 2em;
  color:white;
  position:relative;
  display:inline-block;
  animation: text-reveal 1.4s ease forwards; 
  animation-delay: 1.6s;
}
h1 span{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:0;
  background-color: rgb(73, 81, 119);
  animation: overlay 1.6s ease forwards;
  animation-delay: 1.1s; 
}

.quote span{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:0;
  background-color: rgb(38, 40, 48);
  animation: overlay 1.6s ease forwards;
  animation-delay: 1.1s; 
}

@keyframes overlay{
  50%{
    width:100%;
    left:0;
  }
  100%{
    left:100%;
    width:0;
  }
}

@keyframes text-reveal {
  100%{
    color:black;
  }
} 


/* Section: Portfolio */

.border-primary{
  border-color:#413243 !important;
}

.card-img-top:hover {
	transform: scale(1.1);	
}




/* Section: About */
.about{
  margin-top: 140px;
  background-color: rgb(255, 253, 253);
  padding:10px;
}
.about-text {
  padding:50px;
  margin-bottom: 180px;
}

.img-fluid{
  width: 100%;
  height: auto; 
}


/* ==========  Section: Profile Links ========== */

.profile-section{
  background-color: rgb(243, 243, 243);
  opacity:0.8;
}

.p-link{
  color:rgb(73, 81, 119)
}


/* Media Queries */
